includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
